
.nav-link {
  text-decoration: none; 
  color: white; 
  padding: 50px 20px; 
  border: 2px solid white;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease; /* Smooth transition */
}

.nav-link:hover {
  background-color: transparent;
  padding: 5px;
  border: 1px solid white;
  color: #1f2a39; 
  transform: scale(1.1 ease); 
  border-radius: 8px; 
}


.navbar {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  
}

.nav-item {
  list-style: none;
  padding: 0 20px;
}


.nav-item:hover .nav-link {
  transform: scale(1.1);
  transition: transform 1s
}

.nav-item {
  display: inline-block;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.4s ease;
}





